<% if User.current.logged? %>
  <script type="text/javascript">
    $(function() {
      function updateStatus() {
        $.ajax({
          url:"<%=url_for :controller => '/time_loggers',:action => 'render_toolbar' %>",
          data:({<%= (@project.nil? ? nil : "project_id:#{@project.id},") %><%= (@issue.nil? ? nil : "issue_id:#{@issue.id}") %> }),
          cache:false,
          success: function(data){
            $('#time-logger-toolbar').replaceWith(data);
          },
          error: function(error) {
            var message = '<%= escape_javascript(l('time_logger_connection_lost')) %>'
            message += ' <a href="#" data-time-logger-refresh="true">Retry</a>'
            $('#time-logger-toolbar .timer-task').html(message)
          }
        });
      }

      function updateIssues() {
        $.ajax({
          url:"<%=url_for :controller => '/time_loggers',:action => 'issues' %>",
          cache:false,
          success: function(data){
            console.log(data);
            $('.time-logger-active').removeClass('time-logger-active');
            $.each(data, function(idx, issue_id) {
              console.log(issue_id);
              $('#issue-' + issue_id).addClass('time-logger-active');
            })
          }
        });
      }

      function update() {
        updateStatus();
        updateIssues();
      }

      jQuery(document).ready(function($){
        $('#main').prepend('<%= escape_javascript(render :partial => 'time_loggers/toolbar') %>');
        $('#time-logger-menu').replaceWith('<span id=\"time-logger-menu\"><%= escape_javascript(render :partial => 'time_loggers/embed_menu') %></span>');
        $(document).on('click', '[data-time-logger-refresh]', update)
        setInterval(update, 60000);
        updateIssues();
      });
    });
  </script>
<% end %>
